<div class="row">
  <div class="col-sm-12">
      
    <h3 class="pb-4">Latest News</h3>

<% @entries.order(:created_at).each do |entry| %>
<% @feed = Feed.find(entry.feed_id) %>
<% @series = Series.find(@feed.series_id) %>

      <div class="story single-line row">
        <% if entry.image? %>
        <div class="col-sm-3">
          <div class="story-image">
            <a href="<%= entry.url %>" title="<%= entry.title %>"><img src="<%= entry.image %>" class="card-img-top img-fluid" width="100%"></a>
          </div>
        </div>
        <% end %>
        <div class="<%= entry.image? ? 'col-sm-9' : 'col-sm-12' %>">
          <div class="story-content">
            <small class="text-muted pb-2">Published <%= entry.created_at.strftime("%m/%d/%Y") %></small>
            <h5 class="card-title"><a href="<%= entry.url %>" title="<%= entry.title %>"><%= entry.title %></a></h5>
            <p class="card-text"> <%= truncate(entry.content,:length => 240) %></p>
            <small><a href="series/<%= @series.id %>"><%= @series.name %></a></small>
          </div>
        </div>
      </div>
<% end %>
  </div>
</div>
<div class="row text-center">
  <div class="col-sm-12">
    <nav aria-label="Page navigation">
       <ul class="pagination justify-content-center">
          <%= paginate @entries, theme: 'twitter-bootstrap-4' %>
      </ul>
    </nav> 
  </div>
</div>