<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @calendar.year %>
</p>

<p>
  <strong>Series:</strong>
  <%= @calendar.series %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
